body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7f9;
}

/* HEADER */
.header {
  background: #6d4edf;
  color: white;
  padding: 50px 20px;
}

.header-content {
  max-width: 1000px;
  margin: auto;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

/* INFO CARDS */
.info-cards {
  display: grid;
  gap: 0px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  justify-items: center;
}

.card {
  width: min(920px, 100%);
  background: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border: 4px solid coral;
}

/* MAIN LAYOUT */
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* FORM */
.form-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 4px solid coral;
}

.row {
  display: flex;
  gap: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #6d4edf;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {  
      background: #6d4edf;
}

/* SIDEBAR */
.sidebar {
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid coral;
}

.contact-box {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee
}
navbar {
    display: inline-flexbox;
    align-items: right;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #1b5e20;
}

.navlinks {
    display: inline-flexbox;
    gap: 20px;
    ;
}
.navlinks a:hover {
    color: #2b2e2b;
}
